.page-header
  = link_to t('.new_link'), new_admins_cms_site_layout_path(@site), :class => 'btn pull-right'
  %h2= t('.title')

- content_for :right_column do
  = render :partial => 'admins/cms/sites/mirrors'

= render 'admins/cms/partials/layouts_before'

%ul.list.sortable
  = render :partial => 'index_branch', :collection => @layouts

= render 'admins/cms/partials/layouts_after'